Тестове завдання №2
Штучне просування сайту (накрутка статистики)

Мета: за допомогою бібліотеки PyAutoGUI розробити алгоритм накрутки статистики для сайтів. Автоматизація не має бути виявлена. В налаштуваннях встановлюється кількість відвідувань, ключові слова для пошуку та url адреса сайта.

Програма має виконати наступні кроки:
Відкрити браузер.
Обрати випадкове ключове слово із списку в налаштуваннях і здійснити по ньому пошук.
Зайти на декілька випадкових сторінок проскролити вниз і не пробути там більше 15 секунд.
Знайшовши на сайт, вказаний в налаштуваннях (знайти в результатах пошуку), гортати його вгору-вниз із випадковими інтервалами в часі і перебувати на сайті від 5 хвилин до 10 хвилин.
Якщо не вдалося знайти вказаний сайт на перших 50 сторінках, переключитися на наступне ключове слово.

Проект має містити файл requirements.txt, README.md (з детальним описом проекту), весь код має бути написано в ООП стилі із абільним використанням докстрінгів.

